@media (max-width: 992px) {
  .wrapper {
    width: 992px;
    height: 455px;
  }
  .header {
    width: 992px;
    height: 81px;
    padding: inherit;
  }
  .header__logo {
    width: 32px;
    height: 31px;
  }
  .header__nav {
    width: 794px;
  }
  .burger {
    width: 40px;
    height: 2px;
    background-color: white;
    position: relative;
    top: -7px;
    left: 727px;
    cursor: pointer;
  }
  .burger__span {
    position: absolute;
    top: 5px;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }
  .header__menu {
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu_active {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    width: 260px;
    height: 235px;
    display: block;
    position: relative;
    background-color: rgb(0, 0, 0);
    top: 150px;
    line-height: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn {
    width: 160px;
    height: 35px;
  }
  .header__btn a {
    font-size: 14px;
  }
  .main {
    width: 992px;
  }
  .home {
    width: 992px;
  }
  .container {
    width: 850px;
  }
  .home__title {
    margin-top: -128px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .home__block {
    width: 271px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__block_numbers {
    width: 57px;
    height: 60px;
    background: #121212;
  }
  .home__block_number {
    font-family: "Roboto", sans-serif;
    padding-top: 9px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .home__block_day {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 140%;
    text-align: center;
    color: #7a7a7a;
  }
  .main-screen {
    width: 100%;
    position: relative;
    top: 436px;
    z-index: 1;
    margin: 0 auto;
    height: 100px;
    background: #121212;
  }
  .main-screen__block {
    height: 100px;
  }
  .main-screen__block_btn {
    width: 152px;
    height: 39px;
  }
  .main-screen__block_btn p {
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }
  .main-screen__quantity {
    padding: 0 85px;
  }
  .main-screen__quantity_text {
    font-size: 10px;
    line-height: 200%;
  }
  .main-screen__quantity_num1 {
    font-size: 9px;
    padding-left: 130px;
    margin-top: -15px;
  }
  .main-screen__quantity_num2 {
    font-size: 9px;
    padding-left: 130px;
    margin-top: -16px;
  }
  .main-screen__earnings_text {
    font-size: 10px;
  }
  .main-screen__earnings_num1 {
    padding-left: 141px;
    margin-top: -13px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .main-screen__earnings_num2 {
    font-size: 10px;
  }
  .main-screen__earnings_dimension {
    width: 337px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  }
  .main-screen__earnings_line {
    padding-left: 127px;
    width: 204px;
    height: 6px;
    background: white !important;
  }
  .main-screen__earnings_num3 {
    margin-top: -17px;
    padding-left: 284px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
  }
  .main-about {
    margin-top: 622px;
  }
  .main-about__img {
    width: 421px;
    height: 377px;
  }
  .main-about__duings {
    padding: 30px 0 0 40px;
  }
  .main-about__duings_title {
    padding: 56px 0 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .main-about__duings_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 190%;
    color: #9a9a9a;
  }
  .start {
    padding: 130px 0;
  }
  .start__title {
    font-size: 38px;
  }
  .start__infographic {
    padding-top: 30px;
  }
  .start__card1 {
    width: 212px;
  }
  .start__card1_num {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card1_present {
    margin: 30px 0 45px;
    width: 212px;
    height: 67px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card1_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #929292;
  }
  .start__card2 {
    width: 212px;
  }
  .start__card2_num {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card2_present {
    margin: 40px 0 55px;
    width: 212px;
    height: 47px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card2_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #929292;
  }
  .start__card3 {
    width: 212px;
  }
  .start__card3_num {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card3_present {
    margin: 49px 0 63px;
    width: 212px;
    height: 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card3_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #929292;
  }
  .start__card4 {
    width: 212px;
  }
  .start__card4_title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card4_present {
    margin: 55px 0 71px;
    width: 212px;
    height: 17px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card4_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #929292;
  }
  .profession__title {
    padding-bottom: 80px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  .profession__box_img {
    padding-bottom: 30px;
    padding-left: 100px;
  }
  .profession__box_title {
    padding-bottom: 21px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  .profession__box_text {
    font-size: 12px;
  }
  .profession__box_img2 {
    padding-bottom: 30px;
    padding-left: 94px;
  }
  .profession__box_img3 {
    padding-bottom: 30px;
    padding-left: 93px;
  }
  .partners {
    margin: 113px 0 104px;
  }
  .partners__title {
    margin: -95px 0 89px 146px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .learning__head_logo {
    padding-left: 332px;
  }
  .learning__head_title {
    font-size: 38px;
  }
  .learning__head_text {
    padding: 12px 0 80px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__week_line {
    width: 40px;
    margin: 0 484px;
    border: 1px solid #565656;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .learning__thursday_line {
    margin-left: 4px;
  }
  .learning__friday_line {
    margin-left: 4px;
  }
  .learning__friday_line {
    margin-left: 4px;
  }
  .learning__saturday_line {
    margin-left: 4px;
  }
  .teacher {
    padding: 145px 0 60px;
  }
  .teacher__title {
    font-size: 38px;
  }
  .teacher__instruktor {
    width: 283px;
  }
  .teacher__instruktor_img {
    padding-left: 49px;
  }
  .teacher__instruktor_title {
    padding: 30px 0 15px;
  }
  .teacher__instruktor_text {
    padding-bottom: 20px;
  }
  .teacher__instruktor_btn {
    margin-left: 68px;
  }
  .footer__title {
    padding-bottom: 4px;
    font-size: 38px;
  }
  .footer__text {
    padding-bottom: 50px;
    font-size: 14px;
  }
  .footer__registr {
    width: 398px;
  }
  .footer__registr_input {
    width: 315px;
    height: 44px;
  }
  .footer__registr_btn {
    width: 161px;
    height: 42px;
    margin-left: -82px;
    font-size: 14px;
  }
  .footer__text_two {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 768px;
    height: 400px;
  }
  .header {
    width: 768px;
    height: 73px;
  }
  .header__logo {
    width: 30px;
    height: 27px;
  }
  .header__nav {
    width: 582px;
  }
  .burger {
    width: 47px;
    height: 2px;
    background-color: white;
    position: relative;
    top: -8px;
    left: 522px;
    cursor: pointer;
  }
  .burger__span {
    position: absolute;
    top: 5px;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 34px;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }
  .header__menu {
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu_active {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    width: 260px;
    height: 235px;
    display: block;
    position: relative;
    background-color: rgb(0, 0, 0);
    top: 150px;
    line-height: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn {
    width: 147px;
    height: 31px;
  }
  .header__btn a {
    font-size: 12px;
  }
  .main {
    width: 768px;
  }
  .home {
    width: 768px;
  }
  .container {
    width: 704px;
  }
  .home__title {
    margin-top: -155px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .home__block {
    width: 288px;
    margin-top: 12px;
  }
  .home__block_numbers {
    width: 63px;
    height: 72px;
    background: #121212;
  }
  .home__block_number {
    font-family: "Roboto", sans-serif;
    padding-top: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .home__block_day {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #7a7a7a;
  }
  .main-screen {
    width: 100%;
    position: relative;
    top: 382px;
    z-index: 1;
    margin: 0 auto;
    height: 85px;
    background: #121212;
  }
  .main-screen__block {
    height: 85px;
  }
  .main-screen__block_btn {
    width: 140px;
    height: 38px;
  }
  .main-screen__block_btn p {
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }
  .main-screen__quantity {
    padding: 0 40px;
  }
  .main-screen__quantity_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #7a7a7a;
  }
  .main-screen__quantity_num1 {
    padding-left: 129px;
    margin-top: -13px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .main-screen__quantity_num2 {
    padding-left: 129px;
    margin-top: -14px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .main-screen__earnings_dimension {
    width: 317px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  }
  .main-screen__earnings_text {
    font-size: 10px;
  }
  .main-screen__earnings_num1 {
    padding-left: 143px;
    margin-top: -12px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 120%;
    color: #FFFFFF;
  }
  .main-screen__earnings_line {
    padding-left: 60px;
    width: 188px;
    height: 6px;
    background: white !important;
  }
  .main-screen__earnings_num2 {
    font-size: 9px;
  }
  .main-screen__earnings_num3 {
    font-size: 9px;
    margin-top: -16px;
    padding-left: 270px;
  }
  .main-about {
    margin-top: 491px;
  }
  .main-about__img {
    width: 314px;
    height: 295px;
  }
  .main-about__duings_title {
    padding: 19px 0 10px;
  }
  .main-about__duings_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 200%;
    color: #9a9a9a;
  }
  .start__logo {
    width: 100px;
    height: 100px;
  }
  .start__title {
    font-size: 28px;
    margin-top: -71px;
    margin-left: 108px;
  }
  .start__text {
    padding: 26px;
    font-size: 12px;
  }
  .start__infographic {
    padding-top: 4px;
  }
  .start__card1 {
    width: 175px;
  }
  .start__card1_num {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card1_present {
    margin: 16px 0 25px;
    width: 175px;
    height: 49px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card1_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    color: #929292;
  }
  .start__card2 {
    width: 175px;
  }
  .start__card2_num {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card2_present {
    margin: 22px 0 31px;
    width: 175px;
    height: 37px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card2_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    color: #929292;
  }
  .start__card3 {
    width: 175px;
  }
  .start__card3_num {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card3_present {
    margin: 28px 0 36px;
    width: 175px;
    height: 26px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card3_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    color: #929292;
  }
  .start__card4 {
    width: 175px;
  }
  .start__card4_title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
  }
  .start__card4_present {
    margin: 34px 0 42px;
    width: 175px;
    height: 14px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .start__card4_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    color: #929292;
  }
  .profession__title {
    padding-bottom: 0px;
    font-size: 28px;
  }
  .profession__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profession__box {
    padding-top: 60px;
  }
  .profession__box_img {
    padding-bottom: 18px;
    padding-left: 136px;
  }
  .profession__box_title {
    padding-bottom: 12px;
  }
  .profession__box_img2 {
    padding-bottom: 18px;
    padding-left: 129px;
  }
  .profession__box_img3 {
    padding-bottom: 18px;
    padding-left: 130px;
  }
  .partners {
    margin: 113px 0 82px;
  }
  .partners__img {
    width: 100px;
    height: 100px;
  }
  .partners__title {
    margin: -67px 0 64px 113px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .partners__logo1 {
    width: 240px;
    height: 111px;
  }
  .partners__logo4 {
    width: 240px;
    height: 111px;
  }
  .partners__logo1 img {
    width: 131px;
    height: 72px;
  }
  .partners__logo4 img {
    width: 131px;
    height: 72px;
  }
  .partners__logo {
    width: 240px;
    height: 111px;
  }
  .partners__logo img {
    width: 131px;
    height: 72px;
  }
  .partners__logo-for {
    width: 240px;
    height: 111px;
  }
  .partners__logo-for img {
    width: 131px;
    height: 72px;
  }
  .learning__head_logo {
    margin-left: -59px;
    width: 488px;
    height: 144px;
  }
  .learning__head_title {
    font-size: 28px;
  }
  .learning__head_text {
    padding: 12px 0 49px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__week {
    width: 356px;
    height: 95px;
    margin: 5px -56px 87px;
  }
  .learning__week_text {
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__week_line {
    width: 37px;
    margin: 0 368px;
    border: 1px solid #565656;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .learning__week_text-two {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
  }
  .learning__thursday {
    width: 221px;
    height: 95px;
    margin: 159px 378px 87px;
  }
  .learning__thursday_line {
    margin-left: -23px;
  }
  .learning__thursday_text {
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__thursday_text-two {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
  }
  .learning__friday {
    width: 221px;
    height: 95px;
    margin: 0px 378px 92px;
  }
  .learning__friday_text {
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__friday_line {
    margin-left: -23px;
  }
  .learning__friday_text-two {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
  }
  .learning__saturday {
    width: 221px;
    height: 95px;
    margin: 0px 378px 87px;
  }
  .learning__saturday_text {
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__saturday_line {
    margin-left: -23px;
  }
  .learning__saturday_text-two {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
  }
  .teacher {
    padding: 145px 0 32px;
  }
  .teacher__title {
    font-size: 28px;
    margin: -78px 0 49px 139px;
  }
  .teacher__teach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teacher__instruktor {
    padding-bottom: 70px;
  }
  .teacher__instruktor_img {
    padding-left: 46px;
  }
  .footer__title {
    padding-bottom: 20px;
    font-size: 28px;
  }
  .footer__text {
    padding-bottom: 29px;
    font-size: 11px;
  }
  .footer__registr {
    width: 312px;
    padding-bottom: 72px;
  }
  .footer__registr_input {
    width: 265px;
    height: 37px;
  }
  .footer__registr_btn {
    width: 142px;
    height: 36px;
    margin-left: -105px;
    font-size: 14px;
  }
  .footer__icons {
    width: 210px;
  }
  .footer__icon {
    width: 36px;
    height: 36px;
  }
  .footer__icon_logo {
    padding: 7px 0 10px 9px;
    width: 28px;
    height: 38px;
  }
  .footer__text_two {
    font-size: 12px;
  }
  .footer__text_two {
    padding: 23px 0;
  }
}
@media (max-width: 576px) {
  .wrapper {
    width: 576px;
    height: 329px;
  }
  .header {
    width: 576px;
    height: 54px;
    padding: inherit;
  }
  .header__logo {
    width: 16px;
    height: 16px;
    margin-left: -10px;
  }
  .header__nav {
    width: 472px;
    height: 67px;
  }
  .burger {
    width: 32px;
    height: 1px;
    background-color: white;
    position: relative;
    top: -5px;
    left: 432px;
    cursor: pointer;
  }
  .burger__span {
    position: absolute;
    top: 3px;
    left: 0;
    width: 27.5px;
    height: 1px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 27.5px;
    height: 1px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 27.5px;
    height: 1px;
    background-color: white;
    cursor: pointer;
  }
  .header__menu {
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu_active {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    width: 260px;
    height: 235px;
    display: block;
    position: relative;
    background-color: rgb(0, 0, 0);
    top: 150px;
    line-height: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn {
    width: 86px;
    height: 20px;
  }
  .header__btn a {
    font-size: 9px;
  }
  .main {
    width: 576px;
  }
  .home {
    width: 576px;
  }
  .home__title {
    margin-top: -167px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .container {
    width: 514px;
  }
  .home__block {
    width: 180px;
    margin-top: 12px;
  }
  .home__block_numbers {
    width: 37px;
    height: 41px;
  }
  .home__block_number {
    padding-top: 5px;
    font-size: 15px;
  }
  .home__block_day {
    font-size: 7px;
  }
  .main-screen {
    height: 67px;
    top: 305px;
  }
  .main-screen__block {
    height: 67px;
  }
  .main-screen__block_btn {
    width: 98px;
    height: 24px;
    padding: 6px;
  }
  .main-screen__block_btn p {
    padding: 0px;
    font-size: 9px;
  }
  .main-screen__quantity {
    padding: 0 40px;
  }
  .main-screen__quantity_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 150%;
    color: #7a7a7a;
  }
  .main-screen__quantity_num1 {
    padding-left: 92px;
    margin-top: -9px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .main-screen__quantity_num2 {
    padding-left: 92px;
    margin-top: -10px;
    font-size: 6px;
  }
  .main-screen__earnings_text {
    font-size: 7px;
  }
  .main-screen__earnings_num1 {
    padding-left: 95px;
    margin-top: -8.5px;
    font-size: 6px;
  }
  .main-screen__earnings_dimension {
    width: 219px;
    height: 3px;
  }
  .main-screen__earnings_line {
    padding-left: 60px;
    width: 136px;
    height: 3px;
  }
  .main-screen__earnings_num2 {
    margin-top: 4px;
    font-size: 7px;
  }
  .main-screen__earnings_num3 {
    font-size: 7px;
    margin-top: -12px;
    padding-left: 182px;
  }
  .main-about {
    margin-top: 404px;
  }
  .main-about__img {
    width: 229px;
    height: 237px;
  }
  .main-about__duings {
    padding: 53px 0 0 0px;
  }
  .main-about__duings_title {
    font-size: 20px;
    padding: 0px 0 10px;
  }
  .main-about__duings_text {
    font-size: 6px;
  }
  .start {
    padding: 120px 0 50px;
  }
  .start__fast {
    margin-left: -23px;
  }
  .start__logo {
    width: 80px;
    height: 80px;
    padding-left: 8px;
  }
  .start__title {
    font-size: 20px;
    margin-top: -54px;
    margin-left: 92px;
  }
  .start__text {
    padding: 22px;
    font-size: 10px;
    color: #b5b5b5;
  }
  .start__infographic {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .start__card1 {
    width: 220px;
    padding-bottom: 70px;
  }
  .start__card1_present {
    width: 220px;
  }
  .start__card1_text {
    font-size: 10px;
  }
  .start__card2 {
    width: 220px;
    padding-bottom: 70px;
  }
  .start__card2_present {
    width: 220px;
  }
  .start__card2_text {
    font-size: 10px;
  }
  .start__card3 {
    width: 220px;
    padding-bottom: 70px;
  }
  .start__card3_present {
    width: 220px;
  }
  .start__card3_text {
    font-size: 10px;
  }
  .start__card4 {
    width: 220px;
    padding-bottom: 70px;
  }
  .start__card4_present {
    width: 220px;
  }
  .start__card4_text {
    font-size: 10px;
  }
  .profession__title {
    font-size: 20px;
  }
  .partners__img {
    width: 82px;
    height: 78px;
  }
  .partners__title {
    margin: -51px 0 40px 85px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .partners__logo1 {
    width: 232px;
    height: 76px;
  }
  .partners__logo1 img {
    width: 95px;
    height: 60px;
  }
  .partners__logo4 {
    width: 232px;
    height: 76px;
  }
  .partners__logo4 img {
    width: 95px;
    height: 60px;
  }
  .partners__logo {
    width: 232px;
    height: 76px;
  }
  .partners__logo img {
    width: 95px;
    height: 60px;
  }
  .partners__logo-for {
    width: 232px;
    height: 76px;
  }
  .partners__logo-for img {
    width: 95px;
    height: 60px;
  }
  .learning {
    width: 0px;
  }
  .learning__head_logo {
    margin-left: -118px;
    width: 414px;
    height: 103px;
  }
  .learning__head_title {
    font-size: 20px;
    margin-top: -20px;
  }
  .learning__head_text {
    padding: 3px 0 57px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__week_bigline {
    width: 4px;
    height: 677px;
    margin: -738px auto;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }
  .learning__week {
    width: 199px;
    margin: 5px 15px 87px;
  }
  .learning__week_text {
    font-size: 7px;
  }
  .learning__week_line {
    width: 32px;
    margin: 0 208px;
  }
  .learning__week_text-two {
    font-size: 10px;
  }
  .learning__thursday {
    width: 199px;
    margin: 159px 227px 87px;
  }
  .learning__thursday_text {
    font-size: 7px;
  }
  .learning__thursday_line {
    width: 34px;
    margin: 0 32px;
  }
  .learning__thursday_text-two {
    font-size: 10px;
  }
  .learning__friday {
    width: 199px;
    margin: 37px 227px 87px;
  }
  .learning__friday_text {
    font-size: 7px;
  }
  .learning__friday_line {
    width: 34px;
    margin: 0 32px;
  }
  .learning__friday_text-two {
    font-size: 10px;
  }
  .learning__saturday {
    width: 199px;
    margin: 37px 227px 87px;
  }
  .learning__saturday_text {
    font-size: 7px;
  }
  .learning__saturday_line {
    width: 34px;
    margin: 0 32px;
  }
  .learning__saturday_text-two {
    font-size: 10px;
  }
  .teacher__logo {
    padding-right: 16px;
    width: 150px;
  }
  .teacher__title {
    font-size: 20px;
    margin: -71px 0 41px 139px;
  }
  .teacher__instruktor_title {
    padding: 21px 0 13px;
  }
  .teacher__instruktor_text {
    padding-bottom: 25px;
  }
  .footer__title {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .footer__text {
    padding-bottom: 18px;
    font-size: 8px;
  }
  .footer__registr {
    width: 225px;
    padding-bottom: 54px;
  }
  .footer__registr_input {
    width: 190px;
    height: 24px;
    font-size: 10px;
  }
  .footer__registr_btn {
    width: 106px;
    height: 23px;
    margin-left: -79px;
    font-size: 9px;
  }
  .footer__icons {
    width: 138px;
  }
  .footer__icon {
    width: 26px;
    height: 26px;
  }
  .footer__icon_logo {
    padding: 6px 0 9px 7px;
    width: 19px;
    height: 30px;
  }
  .footer__text_two {
    padding: 0 0 15px;
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 320px;
    height: 213px;
  }
  .header {
    width: 320px;
    height: 35px;
  }
  .header__logo {
    width: 15px;
    height: 15px;
  }
  .header__nav {
    width: 241px;
    height: 35px;
  }
  .burger {
    width: 26px;
    height: 1px;
    margin-top: 2px;
    background-color: white;
    position: relative;
    left: 212px;
    cursor: pointer;
  }
  .burger__span {
    position: absolute;
    top: 3px;
    left: 0;
    width: 19px;
    height: 1px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 19px;
    height: 1px;
    background-color: white;
    cursor: pointer;
  }
  .burger__span::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 19px;
    height: 1px;
    background-color: white;
    cursor: pointer;
  }
  .header__menu {
    display: none;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  .header__menu_active {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    width: 131px;
    height: 131px;
    display: block;
    position: relative;
    background-color: rgb(0, 0, 0);
    top: 80px;
    left: 79px;
    line-height: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation-name: example;
            animation-name: example;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  @-webkit-keyframes example {
    0% {
      width: 0px;
    }
    100% {
      width: 131px;
    }
  }
  @keyframes example {
    0% {
      width: 0px;
    }
    100% {
      width: 131px;
    }
  }
  .header__li_link {
    padding-left: 5px;
    font-size: 10px;
  }
  .header__btn {
    width: 65px;
    height: 16px;
  }
  .header__btn a {
    padding-top: -8px;
    font-size: 7px;
  }
  .main {
    width: 320px;
  }
  .home {
    width: 320px;
  }
  .container {
    width: 300px;
  }
  .home__title {
    margin-top: -223px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .home__block {
    width: 150px;
    margin-top: 7px;
  }
  .home__block_numbers {
    width: 32px;
    height: 33px;
  }
  .home__block_number {
    padding-top: 3px;
    font-size: 14px;
  }
  .home__block_day {
    font-size: 5px;
  }
  .main-screen {
    height: 40px;
    top: 205px;
  }
  .main-screen__block {
    height: 40px;
  }
  .main-screen__block_btn {
    width: 72px;
    height: 16px;
    padding: 3px;
  }
  .main-screen__block_btn p {
    font-size: 7px;
  }
  .main-screen__quantity {
    padding: 0 15px;
  }
  .main-screen__quantity_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    line-height: 150%;
    color: #7a7a7a;
  }
  .main-screen__quantity_num1 {
    padding-left: 64px;
    margin-top: -6px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .main-screen__quantity_num2 {
    padding-left: 64px;
    margin-top: -6px;
    font-size: 4px;
  }
  .main-screen__earnings_text {
    font-size: 5px;
  }
  .main-screen__earnings_num1 {
    padding-left: 62px;
    margin-top: -5.5px;
    font-size: 4px;
  }
  .main-screen__earnings_dimension {
    width: 120px;
    height: 2px;
  }
  .main-screen__earnings_line {
    padding-left: 60px;
    width: 74px;
    height: 2px;
  }
  .main-screen__earnings_num2 {
    margin-top: 2px;
    font-size: 5px;
  }
  .main-screen__earnings_num3 {
    font-size: 5px;
    margin-top: -8px;
    padding-left: 84px;
  }
  .main-about {
    margin-top: 264px;
  }
  .main-about__img {
    width: 139px;
    height: 140px;
  }
  .main-about__duings {
    padding: 32px 0 0 23px;
  }
  .main-about__duings_title {
    font-size: 12px;
    padding: 0px 0 4px;
  }
  .main-about__duings_text {
    font-size: 3px;
    line-height: 220%;
  }
  .start {
    padding: 75px 0 30px;
  }
  .start__logo {
    width: 68px;
    height: 61px;
    padding-left: 8px;
  }
  .start__title {
    font-size: 18px;
    margin-top: -42px;
    margin-left: 78px;
  }
  .start__text {
    padding-top: 21px;
    font-size: 9px;
    color: #b5b5b5;
  }
  .profession__title {
    font-size: 18px;
  }
  .profession__box {
    width: 300px;
    padding: 45px 0 30px;
  }
  .profession__box_img {
    padding-bottom: 9px;
    padding-left: 129px;
    width: 182px;
  }
  .profession__box_title {
    padding-bottom: 8px;
    font-size: 13px;
  }
  .profession__box_text {
    font-size: 8px;
  }
  .profession__box_img2 {
    padding-bottom: 9px;
    padding-left: 121px;
    width: 182px;
  }
  .profession__box_img3 {
    padding-bottom: 9px;
    padding-left: 121px;
    width: 182px;
  }
  .partners {
    margin: 35px 0 46px;
  }
  .partners__img {
    width: 62px;
    height: 59px;
  }
  .partners__title {
    margin: -42px 0 39px 68px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .partners__logo1 {
    width: 174px;
    height: 40px;
  }
  .partners__logo1 img {
    width: 45px;
    height: 32px;
  }
  .partners__logo4 {
    width: 174px;
    height: 40px;
  }
  .partners__logo4 img {
    width: 45px;
    height: 32px;
  }
  .partners__logo {
    width: 174px;
    height: 40px;
  }
  .partners__logo img {
    width: 45px;
    height: 32px;
  }
  .partners__logo-for {
    width: 174px;
    height: 40px;
  }
  .partners__logo-for img {
    width: 45px;
    height: 32px;
  }
  .learning__head_logo {
    margin-left: 99px;
    width: 108px;
    height: 89px;
    padding: 0;
  }
  .learning__head_title {
    font-size: 18px;
    margin-top: -16px;
  }
  .learning__head_text {
    padding: 3px 0 37px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
  }
  .learning__week_bigline {
    width: 3px;
    height: 435px;
    margin: -473px auto;
  }
  .learning__week {
    width: 199px;
    height: 52px;
    margin: 5px -71px 65px;
  }
  .learning__week_text {
    font-size: 5px;
  }
  .learning__week_line {
    width: 19px;
    margin: 0px 200px;
  }
  .learning__week_text-two {
    font-size: 8px;
  }
  .learning__thursday {
    width: 199px;
    height: 52px;
    margin: 98px 90px 65px;
  }
  .learning__thursday_text {
    font-size: 5px;
  }
  .learning__thursday_line {
    width: 19px;
    margin: 0 61.5px;
  }
  .learning__thursday_text-two {
    font-size: 8px;
  }
  .learning__friday {
    width: 199px;
    height: 52px;
    margin: 74px 90px 65px;
  }
  .learning__friday_text {
    font-size: 5px;
  }
  .learning__friday_line {
    width: 19px;
    margin: 0 61.5px;
  }
  .learning__friday_text-two {
    font-size: 8px;
  }
  .learning__saturday {
    width: 199px;
    height: 52px;
    margin: 64px 90px 65px;
  }
  .learning__saturday_text {
    font-size: 5px;
  }
  .learning__saturday_line {
    width: 19px;
    margin: 0 61.5px;
  }
  .learning__saturday_text-two {
    font-size: 8px;
  }
  .teacher__logo {
    padding-right: 16px;
    width: 119px;
  }
  .teacher__title {
    font-size: 18px;
    margin: -59px 0 41px 109px;
  }
  .teacher__instruktor_img {
    padding-left: 83px;
    width: 200px;
  }
  .teacher__instruktor_title {
    padding: 11px 0 5px;
    font-size: 18px;
  }
  .teacher__instruktor_text {
    padding-bottom: 17px;
    font-size: 15px;
  }
  .teacher__instruktor_btn {
    width: 109px;
    height: 32px;
    margin-left: 88px;
    font-size: 12px;
  }
}